.Header {
    text-align: center;
}

td {
    text-align: center;
}

.ControlPanel {
    margin: auto;
    height: 50px;
    width: 456px;
}

table.Board {
    margin: auto;
    height: 450px;
    width: 450px;
    border-collapse: collapse;
}

td.Board {
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
}

table.Box {
    height: 150px;
    width: 150px;
    border-collapse: collapse;
}

td.Square {
    border: 1px solid black;
    background: white;
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
}

td.SquareSelected {
    border: 1px solid black;
    background: #c1c1c1;
    height: 50px;
    width: 50px;
    margin: 0px;
    padding: 0px;
}

table.NumPad {
    margin: auto;
    height: 50px;
    width: 458px;
    border-collapse: collapse;    
}

td.NumPad {
    border: 2px solid black;
    background: white;
    margin: 0px;
    padding: 0px;    
}

td.NumPadSelected {
    border: 2px solid black;
    background: #c1c1c1;
    margin: 0px;
    padding: 0px;    
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
